body{
	font-family: 'Vollkorn', serif;
	color:#2c3357;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5{
	font-weight: normal;
}
article h1{
	font-size: 2em;
}

.orange-text {
	color:#d36c40;
}
.blue-text {
	color:#2c3357;
}

/*Header*/
header{
	text-align: center;
	padding-top: 25px;
}

header ul li{
	list-style: none;
	display: inline-block;
}

nav li a{
	color: #8ba8d2;
	text-decoration: none;
	padding: 15px;
}

nav{
	border-top: 1px #8ba8d2 solid;
	border-bottom: 1px #8ba8d2 solid;
	margin: 50px 0 0;
}

/* Footer */
footer {
	background-color: #9dc4c3;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 15px;
}
footer h5 {
	color:#2c3357;
}
footer a {
	color:#2c3357;
}